<web-app>
<servlet>
<servlet-name>sls</servlet-name>
<servlet-class>pres.StudentLoginServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>srs</servlet-name>
<servlet-class>pres.StudentRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sls</servlet-name>
<url-pattern>/sls</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>srs</servlet-name>
<url-pattern>/srs</url-pattern>
</servlet-mapping>
</web-app>
